{% extends "admin.html" %} 
{% load static %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Perfil</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="{% url 'appointment:dashboard' %}">Tablero</a>
          </li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                class="profile-user-img img-fluid img-circle"
                src="{% static 'assets/images/defaultuser.png' %}"
                alt="User profile picture"
              />
            </div>
            <h3 class="profile-username text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
            <p class="text-muted text-center">Software Engineer</p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Correo electrónico</b> <a class="float-right">{{ user.email }}</a>
              </li>
              <li class="list-group-item">
                <b>Ventas</b> <a class="float-right">1,322</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Información de adicional</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-store-alt mr-1"></i> Tienda</strong>
            <p class="text-muted">{{ store.company }}</p>
            <hr />
            <strong><i class="fas fa-money-bill-wave mr-1"></i> Moneda</strong>
            <p class="text-muted">
              {{ store.money.name }} - {{ store.money.symbol }}
            </p>
            <hr />
            <strong><i class="fas fa-cash-register mr-1"></i></i> Caja</strong>
            <p class="text-muted">
              {% if cash.pk %} 
                {{cash.date}}
              {% else %}
                ¡No hay caja abierta!
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#activity" data-toggle="tab"
                  >Activity</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#timeline" data-toggle="tab"
                  >Timeline</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#settings" data-toggle="tab"
                  >Settings</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                
              </div>

              <div class="tab-pane" id="timeline">
                
              </div>

              <div class="tab-pane" id="settings">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}